
oldStorefrontLogic();

function oldStorefrontLogic () {
    Ecwid.OnPageLoaded.add(function(page) {
        if ((page.type == 'PRODUCT') && productOutOfStock() && !buttonExists()) {
            addNotificationRequestButton();
            addPopupToPlace();
            addSubmitClickEvents(page);
            document.getElementsByClassName("notification_request_button")[0].onclick = function() {
                var modal = document.getElementsByClassName("modal")[0];
                modal.style.display = "block";
            };
        };
        optionSwitchAction(page);
    });
};

function productOutOfStock() {
    if ($('[itemprop="availability"]').attr("role") == "Out of stock") {
        return true;
    } else {
        return false;
    }
};

function buttonExists(){
    btn = document.getElementsByClassName("notification_request_button")[0];
    return (typeof btn != 'undefined');
};

function createCustomPopup() {
    var popup = document.createElement('div');
    popup.classList.add("modal", "fade");
    popup.setAttribute('role','dialog');
    popup.setAttribute('id','oos_modal');
    popup.innerHTML = `
        <div class="modal-dialog modal-sm oos" style="top: 15%">
       
           <!-- Modal content-->
           <div class="modal-content oos">
             <div class="modal-body oos">
               <button type="button" class="close oos" data-dismiss="modal">&times;</button>
                   <p class = 'oos_modal_text'>Leave your details to receive an email when the product is available</p>
               <div class = "input-group">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                   <input type="text" class="form-control oos_name" id="usr" placeholder="Name">
               </div>
               <div class="input-group">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                   <input type="text" class="form-control oos_email" id="email" placeholder="Email">
               </div>
             </div>
             <div class="modal-footer oos">
               <button type="button" class="btn btn-primary oos_submit">Submit</button>
             </div>
           </div>
       
         </div>
    `;
    return popup;
};


function createSuccessPopup() {
    var popup = document.createElement('div');
    popup.classList.add("modal","fade");
    popup.setAttribute('id','oos_success_modal');
    popup.innerHTML = `
    <div class="modal-dialog modal-sm oos" style="top: 15%">

    <!-- Modal content-->
    <div class="modal-content oos">
      <div class="modal-body oos">
        <button type="button" class="close oos" data-dismiss="modal">&times;</button>
        <p class = 'oos_modal_text'>Thanks for your request. You will be notified via email as soon the the product is back in stock.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary oos_close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-link" id="another-request" style="float: left">Add another request</button>
      </div>
    </div>

    </div>
    `;
    return popup;
};


function addNotificationRequestButton () {
    var btn = document.createElement('button');
    btn.classList = "ecwid-btn--primary notification_request_button";
    btn.innerHTML = `Notify me when the product is back in stock`;
    btn.setAttribute("data-toggle", "modal");
    btn.setAttribute("data-target", "#oos_modal");
    
    div = $('.ecwid-productBrowser-backgroundedPanelInner')

    div.after(btn);
    console.log('Flint: Button added.') 
};

function optionSwitchAction (page) {
    Ecwid.OnProductOptionsChanged.add ( function() {

        window.setTimeout(function () {optionsSwitch(page)}, 240);


    });
};

function optionsSwitch (page) {

    btn = document.getElementsByClassName("notification_request_button")[0];

    log = !(productOutOfStock());

    if (productOutOfStock() && (typeof btn == "undefined")) {
        addNotificationRequestButton();
        addPopupToPlace();
        addSubmitClickEvents(page);
        document.getElementsByClassName("notification_request_button")[0].onclick = function() {
            var modal = document.getElementsByClassName("modal")[0];
            modal.style.display = "block";
        };
    } else if (!(productOutOfStock()) && (typeof btn !== "undefined")) {
        $('.notification_request_button').remove();
    }; 
            


};

function addPopupToPlace () {
    var divWrapper = document.getElementsByTagName("body")[0];
    divWrapper.appendChild(createCustomPopup());
    divWrapper.appendChild(createSuccessPopup());
};

function getCombinationId(page){
    
    var oosToken = Ecwid.getAppPublicToken('back-in-stock-flint');
    var storeId = Ecwid.getOwnerId();
    var queryUrl = 'https://app.ecwid.com/api/v3/' + storeId + '/products/' + page.productId + '/combinations?token=' + oosToken;

    values = [];
    $(".ecwid-productBrowser-details-optionPanel").each( function () {
        if ($(this).hasClass('ecwid-productBrowser-details-optionPanel-select')) {
            
            option = {};
    
            name = $('label.ecwid-fieldLabel', this).text();
            value = $(":checked", this).attr('value');
    
            option.name = name;
            option.value = value;

    
            values.push(option);
        } else if ($(this).hasClass('ecwid-productBrowser-details-optionPanel-radio')) {

            option = {};

            name = $('label.ecwid-fieldLabel', this).text();
            value = $(":checked ~ label span", this).text();

            option.name = name;
            option.value = value;


            values.push(option);
        }
    });

    
    
    $.ajax({url:queryUrl, type:"GET", async: false, success: function(data, status) {
         combinations = data; 
    }});
    
    combinationId = 1;
    
    $.each(combinations, function() {
    
        equal = false;
    
        combinationsIndex = 0; //additional index for the cases, where a product has an option with "Any" selection
    
        for (i = 0; i < values.length; i++) {
    
            if (typeof(this.options[combinationsIndex]) == "undefined") {
                continue;
            };
    
    
    
            if (this.options[combinationsIndex].name == values[i].name) {
    
    
                if (this.options[combinationsIndex].value == values[i].value) {
    
                    equal = true;
                    
                } else {


                    equal = false;
                    break;

                }
    
            } else if (this.options[combinationsIndex].name != values[i].name) {

                equal = true;
                combinationsIndex --;
    
            } else {
    
                equal = false;
                break;
    
            }
    
            combinationsIndex ++;
    
        };
    
        if (equal == true) {
            combinationId = this.id;
        };
    });

    return combinationId;

}; // Returns combination ID of the product. If combination doesn't exist, returns 1

function generateClientData(page) {
    let clientName = document.getElementsByClassName("oos_name")[0].value;
    var clientEmail = document.getElementsByClassName("oos_email")[0].value
    var storeId = Ecwid.getOwnerId();
    var productId = page.productId;
    var combinationId = getCombinationId(page); 
    var clientData = {request: {name: clientName, email: clientEmail, store_id: storeId, product_id: productId, combination_id: combinationId}};
    return clientData;
}

function addSubmitClickEvents (page) {
    var submitButton = document.getElementsByClassName("oos_submit")[0];
    submitButton.onclick = function () {
        $("input").attr('style', '');
        $(".warning-message").remove();
        if (formInputValidation()) {
            clientData = generateClientData(page); 
            initiateQuery("https://oos-flint.herokuapp.com/requests/create", clientData);
            clearInput();
            $("#oos_modal").modal("hide");
            $("#oos_success_modal").modal("show");
        }
    };

    $("#another-request").click(function(){
        $("#oos_success_modal").modal("hide");
        $("#oos_modal").modal("show");
    });
}; // this function sends a post request with the input data when submit button is clicked | opens a new request modal when the "Add another request" button is clicked

function formInputValidation() {
    var inputName = document.getElementsByClassName("oos_name")[0].value;
    var inputEmail = document.getElementsByClassName("oos_email")[0].value;
    if ((validateName(inputName)) || (inputEmail == "")) {
        let warning = document.createElement('div');
        warning.classList.add('alert', 'alert-danger', 'warning-message');
        warning.innerHTML = `Fields cannot be empty`;
        $('.oos_modal_text').after(warning);

    }
    if (validateName(inputName)) {
        $("input.oos_name").css({"border-color": "#f94242", "border-style": "solid"});
    }
    if (inputEmail == "") {
        $("input.oos_email").css({"border-color": "#f94242", "border-style": "solid"});
    } else if (!validateEmail(inputEmail)) {
        if (typeof($('warning-message')) == 'undefined') {
            let warning = document.createElement('div');
            warning.classList.add('alert', 'alert-danger', 'warning-message');
            warning.innerHTML = `Please, input valid email`;
            $('.oos_modal_text').after(warning);
        } else {
            $('.warning-message').append("<br>Please, input valid email");
        };
        $("input.oos_email").css({"border-color": "#f94242", "border-style": "solid"});
    };
    if ((validateName(inputName)) || (inputEmail == "") || (!validateEmail(inputEmail))) {
        return false;
    } else {
        return true;
    };
}; // Checks the validity of the input into forms

function validateName(name) {
    re = /^\s*$/; // matches any number of whitespaces
    return re.test(name);
}; //Checks if name is not empty

function validateEmail(email) {
  let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}; //checks validity of email address

function clearInput() {
    $(".warning-message").remove();
    $("input").val('');
}; // clears warning messages and input in modal

function initiateQuery(path, params, method) {
    method = method || "POST"; // Set method to post by default if not specified.

    $.ajax({
      type: method,
      url: path,
      data: params,
      dataType: 'html',
      success: function() {
      },
      crossDomain: true
    });
}; // This function executes a request (POST by default) to the needed path with the needed parameters



function getStoreFrontSetting() {

    var storeId = Ecwid.getOwnerId();

    getStoreSettings('https://oos-flint.herokuapp.com/store_settings/storefront_setting', {store_id: storeId});

    storefront = JSON.parse(storefront_setting).storefront_enabled;

    function getStoreSettings(path, params) {
        method = "GET"; // Set method to post by default if not specified.
        $.ajax({
          async: false,
          type: method,
          url: path,
          data: params,
          dataType: 'json/application',
          crossDomain: true,
          statusCode: {
            200: function(response) {
              storefront_setting = response.responseText;  
            },
            512: function() {
            }
          }
        });
    };


    return storefront;

};