<div align="center">
        <table>
            <tbody>
                <tr>
                    <% unless email_data['image_url'].nil? %>
                    <td>
                        <a href='<%= email_data['product_url'] %>'><img src='<%= email_data['image_url'] %>' alt='<%= email_data['title'] %>'></a>
                    </td>
                    <% end %>
                    <td width="20">&nbsp;</td>
                    <td>
                       <table>
                           <tbody>
                               <tr>
                                   <td>
                                       <a href="<%= email_data['product_url'] %>" target='_blank' style='display: block; color: #005aae'>
                                           <%= email_data['title'] %>
                                       </a>
                                   </td>
                               </tr>
                               <% unless email_data['options'].nil? %>
                               <tr>
                                   <td style="font-family: Arial,sans-serif; font-size: 12px;line-height: 20px; color:    #999999;     padding-top: 11px;">
                                       <table>
                                           <tbody>
                                               <%= email_data['options'].html_safe %>
                                           </tbody>
                                       </table>
                                   </td>
                               </tr>
                               <% end %>
                               <tr>
                                   <td style="font-family: Arial,sans-serif; font-size: 14px;line-height: 20px; color:    #333333;  padding-top: 9px;">
                                       <%= email_data['price'] %>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>