<style>
    .emailwrapper {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
    
    .emailtext {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-align: left;
    }
</style>
<div class="emailwrapper">
    <div align="center" class="emailtext">
        <p>
            <%= @email_data['content'] %>
        </p>
    </div>
    <%= render partial: 'product', locals: { email_data: @email_data } %>
</div>