<div class="a-card a-card--normal">
    <div class="a-card__paddings">
        <%= form_for @store_settings, remote: true do |f| %>
        <div class="form-area">
            <div class="form-area__title">Email Subject</div>
            <div class="form-area__content">
                <div class="fieldsets-batch">
                    <div class="fieldset" id="subjfield">
                        <div class="field field--medium">
                            <label class="field__label">Subject</label>
                            <%= f.text_field :subject, class: "field__input", value: f.object.subject, maxlength: 80, tabindex: 4, required: "required" %>
                            <div class="field__placeholder">Subject</div>
                        </div>
                        <div class="field__error">Cannot be empty</div>
                    </div>
                </div>
            </div>

            <div class="form-area__title">Email Text</div>
            <div class="form-area__content">
                <div class="fieldset fieldset--textarea" id="contentfield">
                    <div class="field">
                        <%= f.text_area :content, class: "field__textarea", tabindex: 1, maxlength: 250, required: "required" %>
                        <div class="field__placeholder">Text</div>
                    </div>
                    <div class="field__error">Cannot be empty</div>
                    <div class="fieldset__note">Use {customerName} to call your customer's name.</div>
                </div>
            </div>

            <div class="form-area__action">
                <%= f.submit "Save", class: "btn btn-primary btn-medium btn-save" %>
                <button class="btn btn-link" id="btn-revert" style="float:right">Revert to default</button>
            </div>
        <% end %>
        </div>
    </div>
</div>