<% content_for :head do %>
  <link rel="stylesheet" href="https://djqizrxa6f10j.cloudfront.net/ecwid-sdk/css/1.3.2/ecwid-app-ui.css" />

  <!-- Include Ecwid JS SDK -->
  <script src="https://djqizrxa6f10j.cloudfront.net/ecwid-sdk/js/1.2.5/ecwid-app.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
      // Initialize the application
      EcwidApp.init({
          app_id: "back-in-stock-flint", // your client_id
          autoloadedflag: true,
          autoheight: true
      });

      var storeId = <%= @store_settings.store_id %>;
      var controller_url = "<%= store_setting_path(@store_settings) %>"
  </script>

  <%= javascript_include_tag "cp_scripts" %>
<% end %>