<div class="a-card a-card--compact">
    <div class="a-card__paddings">
        <div class="iconable-block iconable-block--hide-in-mobile">
            <div class="iconable-block__infographics">
                <span class="iconable-block__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 502.56 502.56" style="enable-background:new 0 0 502.56 502.56;" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path d="M467.28,467.496h24v-128h-24V129.328l12.088,3.888l23.192-46.392L251.28,3.064L0,86.824l23.192,46.392l12.088-3.888     v354.168h-32v16h32h432h32v-16h-32V467.496z M475.28,355.496v96h-8v-96H475.28z M215.6,483.496H107.28v-216h80v184h-64v16h80v-16     v-184v-16v-16h16v180.32c-9.792,8.792-16,21.504-16,35.68C203.28,463.8,207.968,474.992,215.6,483.496z M251.28,483.496     c-17.648,0-32-14.352-32-32s14.352-32,32-32s32,14.352,32,32S268.928,483.496,251.28,483.496z M296.936,309.84l-11.312,11.312     l10.344,10.344l-31.04,31.04l32.464-119.04h92.256l29.6,82.896l-97.728,45.104h-42.928l28.688-28.688l10.344,10.344     l11.312-11.312L296.936,309.84z M236.528,405.84c-0.424,0.136-0.832,0.304-1.248,0.456v-138.8h38.984L236.528,405.84z      M286.96,483.496c4.144-4.624,7.4-10.032,9.52-16h77.6c2.12,5.968,5.376,11.376,9.52,16H286.96z M419.28,483.496     c-17.648,0-32-14.352-32-32s14.352-32,32-32s32,14.352,32,32S436.928,483.496,419.28,483.496z M451.28,415.816     c-8.504-7.632-19.696-12.32-32-12.32c-26.472,0-48,21.528-48,48h-72c0-25.648-20.232-46.592-45.56-47.88l4.4-16.12h66.92     l99.608-45.976l4.992,13.976h21.64V415.816z M451.28,339.496h-10.36l-34.288-96h12.648v-16h-152v16h13.528l-2.184,8H235.28v-16     h16v-16h-80v16h16v16h-96v232h-40v-288h400V339.496z M451.28,179.496h-400v-55.312l200-64.28l200,64.288V179.496z M251.28,43.088     L31.368,113.776L22.56,96.168l228.72-76.24L480,96.168l-8.808,17.608L251.28,43.088z" style="fill: #189dee;"></path>
                                <rect x="243.28" y="91.496" width="16" height="16" style="fill: #189dee;"></rect>
                                <rect x="275.28" y="91.496" width="16" height="16" style="fill: #189dee;"></rect>
                                <rect x="211.28" y="91.496" width="16" height="16" style="fill: #189dee;"></rect>
                            </g>
                        </g>
                    </g>
                    </svg>
                </span>
            </div>
            <div class="iconable-block__content">
                <div class="status-block">
                    <div class="status-block__central">
                        <div class="status-block__header">
                            <span class="status-block__title">Storefront</span>
                        </div>
                        <div class="status-block__content">
                            <p>Allow customers to request notifications</p>
                        </div>
                    </div>
                    
                    <div class="status-block__primary-action">
                        <label class="checkbox big">
                            <input name="" type="checkbox" id="storefrontcheck" <%= 'checked' if @store_settings.storefront_enabled %> > 
                            <div data-on="enabled" data-off="disabled">
                                <div></div>
                            </div>
                            <span class="checkbox__on-text-placeholder">enabled</span>
                            <span class="checkbox__off-text-placeholder">disabled</span>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>