<%= render 'head_content' %>
<div class="settings-page">
    <div class="settings-page__header">
        <div class="settings-page__titles settings-page__titles--left">
            <h1 class="settings-page__title">Back in stock notifications</h1>
            <div class="settings-page__subtitle">Allow your customers to request an email notification, that will be sent, when an out-of-stock product is in stock again.</div>
        </div>
    </div>

    <div class="settings-page__body">

        <div class="named-area">

            <div class="named-area__header" style="">
                <div class="named-area__titles">
                    <h4 class="named-area__title h4">General Settings</h4>
                    <span class="named-area__subtitle"></span>
                </div>
            </div>

            <div class="named-area__body">
                <%= render 'storefront_form' %>
                <%= render 'notifications_form' %>
            </div>

        </div>

        <div class="named-area">

            <div class="named-area__header" style="">
                <div class="named-area__titles">
                    <h4 class="named-area__title h4">Email Contents</h4>
                    <span class="named-area__subtitle">Edit the content of the notifications, that your customers receive</span>
                </div>
            </div>

            <br>

            <div class="named-area__body">
                <%= render 'contents_form' %>
            </div>
        </div>
    </div>
</div>
    <script src="https://djqizrxa6f10j.cloudfront.net/ecwid-sdk/css/1.3.0/ecwid-app-ui.min.js"></script>

</body>
