// Place all the styles related to the StoreSettings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.btn-link:focus {
    border-color: #fff;
    background-color: #fff;
    box-shadow: none;
}